* {
    margin: 0;
    
    font-family: 'inter',sans-serif ;
    
}
 
#logo {
 
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusuperior{
    margin-left: 125px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 125px;
    margin-top: 35px;
    padding-bottom: 100px;
    
}

#menusuperior{
background-image: url(/IMG/images/Hero.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: auto;       /* altura baseada no conteúdo */
min-height: 300px;  /* opcional: garante altura mínima */
color: white;
}

#menuinormacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 70px;
    padding: 25px;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#secaovideo{
    display: grid;
    grid-auto-flow:column ;
    columns: auto;
}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;

}

#video{
   margin: 50px 25px 50px 105px;
}

#text-video{
  padding: 20px 0;
}

/* Carrossel inicio */
#carrossel{
    background-color: #247ba0;
    padding: 50px;
    
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
margin-top: 25px;
display: grid;
grid-auto-flow: column;
}

.cards{
margin-left: 50px; 
 }

#seta-esquerda{
    display: none;
}

#samanta{
    display:none;
}

.seta{
    margin-top: 20% ;
}
