* {
    margin: 0;
    padding: 0;
    font-family: 'inter',sans-serif ;
}

#LOGO {
    margin-top: 50px;
    margin-left: 75px;
}
#hero{
        margin-left:  150px;
        margin-top: 50px;
} 
#Herotext{
    margin-left:  150px;
    margin-top: 35px;
}
#herosection{  
    background-image: url(/IMG/images/Hero.svg);
    color: white;
}
.secondsection{
    background-color:#EAECE5 ;
    padding: 10px;
    display: grid;   
    grid-auto-flow: column;
}	

